.container {
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .top-text-left {
    margin: 0;
    text-align: left;
  }

.top-text-center {
    margin: 0;
    text-align:  center;
  }

.top-text-right {
    margin: 0;
    text-align:  right;
  }

.bgColor{
    background-color: rgb(0, 0, 0);
  }

  .line {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .topic {
    flex: 1; /* divide igualmente o espaço */
    padding: 10px;
    text-align: center;
    
  }

  .bold {
    font-weight: bold;
  }

  .underline{
    text-decoration: underline;
  }
  
  .homeFont{
    font-weight: bold;
    background: linear-gradient(to bottom, #000000, #ffffff);
    text-decoration: underline grey;
    font: serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px rgba(128, 126, 126, 0.5),
                 0 0 10px rgba(58, 58, 58, 0.4),
                 0 0 20px rgba(0, 0, 0, 0.3);
    font-family: 'Apple Chancery'
  }

 .imagesBeforeTexts {
  display: flex;
  align-items: center;
  gap: 12px; /* espaço entre imagem e texto */
  color: black; /* texto escuro, ajusta se quiser */
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7); /* fundo semi claro para destacar */
  border-radius: 10px;
}

.imagesBeforeTexts img {
  height: 1.2em; /* altura da imagem igual à altura da fonte */
  width: auto;
}
  
.colorizeIsengard {
    fill: rgb(255, 255, 255);             /* só funciona em SVG inline ou externo bem configurado */
    opacity: 0.5;          /* deixa a imagem semitransparente */
  }